<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>学生管理系统</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/main.css" rel="stylesheet" type="text/css">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Student Management</a>
        </div>
    </div>
</nav>
        <div class="col-sm-12  col-md-12  main">
            <h2 class="sub-header">学生信息管理系统</h2>
            <a href="./new.html"><button type="button" class="btn btn-primary">添加学生信息</button></a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>年龄</th>
                        <th>性别</th>
                        <th>专业</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{each students}}
                   <tr>
                        <td>{{$value.id}}</td>
                        <td>{{$value.sno}}</td>
                        <td>{{$value.name}}</td>
                        <td>{{$value.age}}</td>
                        <td>{{$value.gender}}</td>
                        <td>{{$value.major}}</td>
                    </tr>
                    {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
</body>
</html>
